@font-face {
    font-family: 'PPRader';
    src: url('assets/fonts/ppRader/PPRader-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'PPRaderBold';
    src: url('assets/fonts/ppRader/PPRader-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
  }

  body {
    margin: 0;
    font-family: 'PPRader', sans-serif;
    background: radial-gradient(circle, #0b1e38, #040b1a);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    text-align: center;
    overflow: hidden;
  }

  h1 {
    font-size: 2.5em;
    margin: 0.5em 0;
    font-family: 'PPRaderBold', sans-serif;
  }

  p {
    font-size: 1.2em;
    margin: 0.2em 0;
  }

  #moonPhaseImage {
    width: 200px;
    height: 200px;
    margin-top: 1em;
  }

  canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }